/* Set-up */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto+Slab:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(178, 224, 227, 0.887);
  color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

/* Navbar */

a {
  text-decoration: none;
  color: inherit;
}

nav {
  height: 75px;
  display: flex;
  justify-content: center;
  background-color: rgb(83, 111, 111);
  color: white;
}

nav .navContainer {
  position: relative;
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav .navContainer .logoContainer {
  font-size: 30px;
  display: flex;
  align-items: center;
}

nav .navContainer ul {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

nav .navContainer ul .navCart {
  position: relative;
}

nav .navContainer ul .navCart .cartSum {
  display: flex;
  width: 20px;
  height: 20px;
  font-size: 14px;
  position: absolute;
  right: -15px;
  bottom: -7px;
  border: 2px black solid;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  padding: 1px;
  padding-bottom: 2px;
  background-color: rgb(147, 242, 242);
  color: black;
  font-weight: 600;
}

nav .navContainer .hamLinks {
  position: absolute;
  text-align: center;
  font-size: 10px;
  right: 2%;
  display: block;
  background-color: aliceblue;
  border: 1px black solid;
}

nav .navContainer .hamburger {
  position: absolute;
  right: 5%;
  display: none;
}

.bar {
  position: block;
  background-color: #333;
  height: 3px;
  margin: 2px 0;
  width: 25px;
}
/* Login */

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container h1 {
  font-size: 30px;
  font-weight: 400;
}

/* Login-Form */

.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.loginForm p {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.loginForm input {
  margin-top: 5px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.loginForm .loginButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.loginForm .loginButtons button {
  font-size: 16px;
  font-weight: 600;
}

.loginForm .invalidText {
  color: red;
  font-size: 16px;
  margin-top: 0px;
}

.loginForm .invalid {
  border: red 1px solid;
}

/* Sell items */
.saleForm .saleFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 475px;
  margin-bottom: 40px;
}

.saleForm Input {
  border: none;
}

.saleForm .invalid {
  border: red 1px solid;
}

.saleForm .description {
  margin-top: 10px;
  width: 400px;
  height: 100px;
  background-color: aliceblue;
  border: none;
  padding: 10px;
}

.saleForm .description.invalid {
  border: red 1px solid;
}

.saleForm button {
  margin-top: 60px;
  font-size: 30px;
  background-color: rgb(7, 32, 55);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
}

.saleForm .saleFlex .saleImageContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saleForm .saleFlex .saleImageContainer .imageInput {
  width: 200px;
}

.saleForm .saleFlex .saleImageContainer .salePreview {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}

.saleForm .saleFlex .saleImageContainer .imagePlaceholder {
  height: 200px;
  width: 200px;
  background-color: aliceblue;
}

.saleForm .saleFlex .saleDataContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.saleForm .saleFlex .saleDataContainer Input {
  text-align: center;
  border-radius: 2px;
  background-color: aliceblue;
}

.saleForm .invalidText {
  color: red;
  font-size: 12px;
  margin-top: 0px;
}

.flash {
  margin-top: 200px;
  font-size: 40px;
}

/* Market */

.marketContairner {
  display: flex;
  justify-content: center;
}

.marketContainer h1 {
  margin-bottom: 40px;
}

.marketContainer h2 {
  margin-bottom: 40px;
}

.recentSalesContainer {
  max-width: 1050px;
  height: 50%;
  display: grid;

  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.recentSalesContainer .saleItem {
  display: flex;
  width: 200px;
  height: 250px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.recentSalesContainer .saleItem .yourSale {
  border: 3px solid rgb(7, 32, 55);
}

.recentSalesContainer .saleItem p {
  margin-left: 10px;
}

.recentSalesContainer .saleItemContainer {
  display: flex;
  position: relative;
  justify-content: center;
}

.recentSalesContainer .saleItemContainer .yourSaleHeader {
  color: rgb(7, 32, 55);
  font-weight: 600;
  position: absolute;
  top: -25px;
}

.recentSalesContainer .saleItem img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Item */

.itemContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.itemContainer h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

.itemContainer .itemImage {
  height: 400px;
  width: 600px;
  object-fit: cover;
}

.itemContainer .itemFlex {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.itemContainer .itemDescription {
  margin-top: 40px;
  margin-bottom: 50px;
  max-width: 700px;
}

.itemContainer .itemForm .quantity {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.itemContainer .itemForm .itemFlex {
  width: 500px;
}

.itemContainer .itemForm .quantity .quantityInput {
  width: 60px;
  padding: 5px;
}

.itemContainer .itemForm button {
  font-size: 30px;
  background-color: rgb(2, 2, 73);
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Cart */
.cartContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartContainer h1 {
  margin-bottom: 30px;
}

.cartContainer .cartList {
  margin-bottom: 30px;
}

.cartContainer .cartList .cartHeader {
  display: flex;
  border: 1px solid black;
  width: 600px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.cartContainer .cartList .itemListLine {
  position: relative;
  display: flex;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.cartContainer .cartList .cartDelete {
  position: absolute;
  right: -25px;
}

.cartContainer .cartList .cartDelete:hover {
  color: red;
}

.cartContainer .cartList .cartHeader .cartItem {
  border: none;
  font-weight: 500;
  background-color: rgb(7, 32, 55);
  color: white;
  padding: 1px;
}

.cartContainer .cartList .cartItem {
  border: 1px black solid;
  width: 25%;
  background-color: white;
}

.cartContainer button {
  margin-top: 30px;
  background-color: rgb(7, 32, 55);
  color: white;
  font-size: 20px;
  padding: 10px 5px;
  width: 140px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Listings Page */

.listingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listingsGrid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  justify-content: center;
  width: fit-content;
  background-color: rgb(239, 246, 252);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.listingsGrid .listing {
  background-color: white;
  border: black 2px solid;
  border-radius: 5px;
  padding-bottom: 5px;
  width: 175px;
}

.listingsGrid .listing img {
  width: 100%;
  height: 125px;
  object-fit: cover;
}
.listingContainer button {
  margin-top: 30px;
  font-size: 20px;
  background-color: rgb(7, 32, 55);
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  width: 200px;
}

/* Checkout */

.checkout {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 64, 64);
  padding: 15px;
  border-radius: 10px;
  color: white;
}

.paymentOptions {
  margin-top: 5px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentOptions img {
  max-width: 50px;
}

.checkout .checkoutFormHeader {
  margin-bottom: 30px;
}

.checkout .paymentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.checkout .paymentForm .flexH {
  display: flex;
  justify-content: space-between;
}

.checkout .paymentForm .flexH .inline {
  display: flex;
  justify-content: center;
}

.checkout .paymentForm input {
  width: 70%;
  margin-bottom: 20px;
  border: none;
}

.checkout button {
  font-size: 30px;
  background-color: rgb(1, 21, 36);
  padding: 2px 5px;
  border-radius: 5px;
}

.checkout .paymentForm .flexH input {
  width: 40%;
}

.payTotal {
  margin-top: 60px;
}

@media (max-width: 640px) {
  /* Navbar  */

  nav .navContainer ul {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    display: none;
  }
  nav .navContainer .hamburger {
    display: block;
  }

  nav .navContainer .hamLinks {
    font-size: 14px;
    color: black;
    width: 60px;
  }

  /* Marketplace */
  .recentSalesContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Cart */

  .cartContainer .cartList .cartHeader {
    width: 430px;
  }

  .cartContainer .cartList .itemListLine {
    width: 430px;
  }

  .cartContainer .cartList .cartDelete {
    right: -20px;
  }
}

@media (max-width: 460px) {
  .recentSalesContainer {
    max-width: 1050px;
    height: 50%;
    display: grid;

    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .listingsGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    justify-content: center;
    width: fit-content;
    background-color: rgb(239, 246, 252);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }

  /* Cart */

  .cartContainer .cartList {
    font-size: 10px;
  }

  .cartContainer .cartList .cartHeader {
    width: 295px;
  }

  .cartContainer .cartList .itemListLine {
    width: 295px;
  }

  .cartContainer .cartList .cartDelete {
    right: -12px;
  }

  /* Checkout */

  .checkout {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 64, 64);
    padding: 15px;
    border-radius: 10px;
    color: white;
  }

  .paymentOptions {
    margin-top: 5px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .paymentOptions img {
    max-width: 50px;
  }

  .checkout .checkoutFormHeader {
    margin-bottom: 30px;
  }

  .checkout .paymentForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
  }

  .checkout .paymentForm .flexH {
    display: flex;
    justify-content: space-between;
  }

  .checkout .paymentForm .flexH .inline {
    display: flex;
    justify-content: center;
  }

  .checkout .paymentForm input {
    width: 70%;
    margin-bottom: 20px;
    border: none;
  }

  .checkout button {
    font-size: 30px;
    background-color: rgb(1, 21, 36);
    padding: 2px 5px;
    border-radius: 5px;
  }

  .checkout .paymentForm .flexH input {
    width: 40%;
  }

  .payTotal {
    margin-top: 60px;
  }
}
